<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>WeatherWatcher!</title>
    </head>


    <body>

        

        <input type="text" id="cityName" name="cityInput" placeholder="city name">
        <input type="text" id="countryCode" name="countryInput" placeholder="country code">
        <input type="text" id="stateCode" name="stateCode" placeholder="state code">
        <button onclick="fetchWeather()">
            Submit
        </button>
        <h5 id="error"></h5>
        <h3 id = "city"></h3>
        <div id="weather"></div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <script src="/script.js"></script>
    </body>
</html>